{% block body %}

    <form class="col-12" method="post">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center bignoode">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger text-center bignoode">
                {{ message }}
            </div>
        {% endfor %}


        <label for="inputEmail">Entrez votre Email</label>
        <input type="email" value="" name="email" id="inputEmail" class="form-control" required autofocus>


        <button class="btn btn-lg btn-danger float-md-right mt-4 mb-4" type="submit">
            Valider
        </button>
    </form>

{% endblock %}