<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
    </head>
    <body style="background-color: black;">
        <h1 style="color: white; border: 1px beige dashed; text-align: center">SpinAnd<span style="color: orange">GoGo</span>.com</h1>

            <p style="text-align:center; color: white;">Bonjour {{ userName }}</p>
            <p style="text-align: center; color: white;">Vous avez demandé à réinitialiser votre mot de passe.
            Cliquez sur ce lien pour créer un nouveau mot de passe :
            </p>
            <br>
            <br>
        <a href="{{ contentMail }}"><p style="text-align: center; margin-bottom: 50px;color: white; padding: 5px; border: 1px dashed white; text-transform: uppercase; font-style: oblique">Créer un nouveau mot de passe</p></a>

    </body>
</html>