<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
</head>
<body style="background-color: black;">
<h1 style="color: white; border: 1px beige dashed; text-align: center">SpinAnd<span style="color: orange">GoGo</span>.com</h1>

<p style="text-align:center; color: white;">Bonjour,</p>
<p style="text-align: center; color: white;">Votre compte a bien été crée. Cliquer sur le lien pour l'activé.
</p>
<br>
<br>
<a href="{{ contentMail }}"><p style="text-align: center; margin-bottom: 50px;color: white; padding: 5px; border: 1px dashed white; text-transform: uppercase; font-style: oblique">Activer mon compte</p></a>

</body>
</html>